<div class="content-top">
    <div>
        <h1>Добавление новой записи</h1>
    </div>
</div>
<div class="product product-item">
    <form name="addBookForm" novalidate ng-if="!savedSuccessfully" class="form-add-book">
        <div class="form-group" ng-class="{'has-error': addBookForm.year.$invalid, 'has-success': !addBookForm.year.$invalid}">
            <label for="year" class="control-label">Усредненное значение амплитуды датчика № 1</label>
            <input ng-model="record.Params[0]" name="year" id="year" class="form-control" type="number" max="{{ year }}" value="" required />
        </div>
        <div class="form-group" ng-class="{'has-error': addBookForm.year.$invalid, 'has-success': !addBookForm.year.$invalid}">
            <label for="year" class="control-label">Усредненное значение амплитуды датчика № 2</label>
            <input ng-model="record.Params[1]" name="year" id="year" class="form-control" type="number" max="{{ year }}" value="" required />
        </div>
        <div class="form-group" ng-class="{'has-error': addBookForm.year.$invalid, 'has-success': !addBookForm.year.$invalid}">
            <label for="year" class="control-label">Усредненное значение амплитуды датчика № 3</label>
            <input ng-model="record.Params[2]" name="year" id="year" class="form-control" type="number" max="{{ year }}" value="" required />
        </div>
        <div class="form-group" ng-class="{'has-error': addBookForm.year.$invalid, 'has-success': !addBookForm.year.$invalid}">
            <label for="year" class="control-label">Усредненное значение амплитуды датчика № 4</label>
            <input ng-model="record.Params[3]" name="year" id="year" class="form-control" type="number" max="{{ year }}" value="" required />
        </div>
        <div class="form-group" ng-class="{'has-error': addBookForm.year.$invalid, 'has-success': !addBookForm.year.$invalid}">
            <label for="year" class="control-label">Усредненное значение амплитуды датчика № 5</label>
            <input ng-model="record.Params[4]" name="year" id="year" class="form-control" type="number" max="{{ year }}" value="" required />
        </div>
        <div class="form-group" ng-class="{'has-error': addBookForm.year.$invalid, 'has-success': !addBookForm.year.$invalid}">
            <label for="year" class="control-label">Усредненное значение амплитуды датчика № 6</label>
            <input ng-model="record.Params[5]" name="year" id="year" class="form-control" type="number" max="{{ year }}" value="" required />
        </div>
        <div class="form-group" ng-class="{'has-error': addBookForm.year.$invalid, 'has-success': !addBookForm.year.$invalid}">
            <label for="year" class="control-label">Усредненное значение амплитуды датчика № 7</label>
            <input ng-model="record.Params[6]" name="year" id="year" class="form-control" type="number" max="{{ year }}" value="" required />
        </div>
        <div class="form-group" ng-class="{'has-error': addBookForm.year.$invalid, 'has-success': !addBookForm.year.$invalid}">
            <label for="year" class="control-label">Усредненное значение амплитуды датчика № 8</label>
            <input ng-model="record.Params[7]" name="year" id="year" class="form-control" type="number" max="{{ year }}" value="" required />
        </div>
        <div class="form-group" ng-class="{'has-error': addBookForm.year.$invalid, 'has-success': !addBookForm.year.$invalid}">
            <label for="year" class="control-label">Усредненное значение амплитуды датчика № 9</label>
            <input ng-model="record.Params[8]" name="year" id="year" class="form-control" type="number" max="{{ year }}" value="" required />
        </div>
        <div class="form-group" ng-class="{'has-error': addBookForm.year.$invalid, 'has-success': !addBookForm.year.$invalid}">
            <label for="year" class="control-label">Усредненное значение амплитуды датчика № 10</label>
            <input ng-model="record.Params[9]" name="year" id="year" class="form-control" type="number" max="{{ year }}" value="" required />
        </div>
        <div class="form-group" ng-class="{'has-error': addBookForm.year.$invalid, 'has-success': !addBookForm.year.$invalid}">
            <label for="year" class="control-label">Усредненное значение амплитуды датчика № 11</label>
            <input ng-model="record.Params[10]" name="year" id="year" class="form-control" type="number" max="{{ year }}" value="" required />
        </div>
        <div class="form-group" ng-class="{'has-error': addBookForm.year.$invalid, 'has-success': !addBookForm.year.$invalid}">
            <label for="year" class="control-label">Усредненное значение амплитуды датчика № 12</label>
            <input ng-model="record.Params[11]" name="year" id="year" class="form-control" type="number" max="{{ year }}" value="" required />
        </div>
        <div class="form-group" ng-class="{'has-error': addBookForm.year.$invalid, 'has-success': !addBookForm.year.$invalid}">
            <label for="year" class="control-label">Усредненное значение амплитуды датчика № 13</label>
            <input ng-model="record.Params[12]" name="year" id="year" class="form-control" type="number" max="{{ year }}" value="" required />
        </div>
        <div class="form-group" ng-class="{'has-error': addBookForm.year.$invalid, 'has-success': !addBookForm.year.$invalid}">
            <label for="year" class="control-label">Усредненное значение амплитуды датчика № 14</label>
            <input ng-model="record.Params[13]" name="year" id="year" class="form-control" type="number" max="{{ year }}" value="" required />
        </div>
        <div class="form-group" ng-class="{'has-error': addBookForm.year.$invalid, 'has-success': !addBookForm.year.$invalid}">
            <label for="year" class="control-label">Усредненное значение амплитуды датчика № 15</label>
            <input ng-model="record.Params[14]" name="year" id="year" class="form-control" type="number" max="{{ year }}" value="" required />
        </div>
        <div class="form-group" ng-class="{'has-error': addBookForm.year.$invalid, 'has-success': !addBookForm.year.$invalid}">
            <label for="year" class="control-label">Усредненное значение амплитуды датчика № 16</label>
            <input ng-model="record.Params[15]" name="year" id="year" class="form-control" type="number" max="{{ year }}" value="" required />
        </div>

        <button ng-disabled="addBookForm.$invalid" ng-click="addBook()" class="btn btn-lg btn-info btn-block">Добавить</button>
        <div ng-if="!messages.length == 0" class="alert alert-dismissible alert-danger">
            <p ng-repeat="message in messages">{{ message }}</p>
        </div>
    </form>
    <div ng-if="savedSuccessfully">
        <h3 class="text-center">Запись успешно добавлена в базу данных!</h3>
        <h3 class="text-center">Вы можете загрузить изображение обложки новой книги</h3>
        <form class="form-add-book">
            <div ng-if="uploader.queue.length == 0" class="form-group">
                <label for="cover" class="control-label">Изображение обложки</label>
                <input type="file" id="cover" class="form-control" nv-file-select uploader="uploader" multiple />
            </div>
            <div ng-if="uploader.queue.length > 0" class="btn-group-lg" role="group">
                <p ng-repeat="file in uploader.queue">{{ file.file.name }}</p>
                <button ng-click="uploader.uploadAll()" type="button" class="btn btn-success">Загрузить</button>
                <button ng-click="uploader.clearQueue()" type="button" class="btn btn-danger">Очистить</button>
            </div>
        </form>
        <h3 class="text-center">или перейти в <a href="/#/books/">каталог</a></h3>
    </div>
</div>